BasedOnStyle: Google
ReflowComments: Never
PointerAlignment: Left
ColumnLimit: 140
SortIncludes: false
AllowShortIfStatementsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AlignArrayOfStructures: None